<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Dark Skies</title>
    <!-- <link rel="stylesheet" media="screen" href ="static/css/bootstrap.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="static/css/bootstrap.css">
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script> -->



    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<!-- <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script> -->
<body>
    <div class="container">
        <br>
        <h2><p align="center">Dark Skies</p></h2>
        <form  action="" method="post" role="form">
            {{ form.csrf }}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Latitude:</label>
                        <input type="number" class="form-control{{ formatting['latitude']['highlight'] }}" value="{{ formatting['latitude']['value'] }}" id="latitude" name="latitude" placeholder="e.g. 146.91">
                    </div>
                    <div class="col-md-6">
                        <label for="name">Longitude:</label>
                        <input type="number" class="form-control{{ formatting['longitude']['highlight'] }}" value="{{ formatting['longitude']['value'] }}" id="longitude" name="longitude" placeholder="e.g. -36.07">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="name">Start date:</label>
                        <input type="date" class="form-control{{ formatting['start']['highlight'] }}" value="{{ formatting['start']['value'] }}" id="start" name="start" placeholder="Start date">
                    </div>
                    <div class="col-md-4">
                        <label for="name">End date:</label>
                        <input type="date" class="form-control{{ formatting['end']['highlight'] }}" value="{{ formatting['end']['value'] }}" id="end" name="end" placeholder="End date">
                    </div>
                    <div class="col-md-4">
                        <label for="email">Day start offset:</label>
                        <input type="number" class="form-control{{ formatting['offset']['highlight'] }}" value="{{ formatting['offset']['value'] }}" id="offset" name="offset" placeholder="default 12">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>

        </form>

        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    {% if "Error" in message[1] %}
                        <div class="alert alert-warning">
                            {{ message[1] }}
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message[1] }}
                        </div>
                        <div style="line-height:0" align="center">
                            {% for image in results %}
                            <a href="#" title="{{ image[1].header }}" data-placement="top" data-html="true" data-toggle="popover" data-trigger="hover" data-content="{% for instr in image[1].popover_instructions %} {{instr}}<br/> {% endfor %}"><img class="inline-block" src="static/images/{{ image[0] }}"/></a><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>
<br>
</div>
</div>
</body>
<script>
$(document).ready(function () {
    $('[data-toggle="popover"]').popover();
});
</script>
</html>
