<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>Dark Skies</title>
    <link rel="stylesheet" media="screen" href ="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <br>
        <h2><p align="center">Dark Skies</p></h2>
        <form  action="" method="post" role="form">
            {{ form.csrf }}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Latitude:</label>
                        <input type="number" class="form-control" value="{{ formatting['latitude']['value'] }}" id="latitude" name="latitude" placeholder="e.g. 146.91">
                    </div>
                    <div class="col-md-6">
                        <label for="name">Longitude:</label>
                        <input type="number" class="form-control" value="{{ formatting['longitude']['value'] }}" id="longitude" name="longitude" placeholder="e.g. -36.07">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="name">Start date:</label>
                        <input type="date" class="form-control" value="{{ formatting['start']['value'] }}" id="start" name="start" placeholder="Start date">
                    </div>
                    <div class="col-md-4">
                        <label for="name">End date:</label>
                        <input type="date" class="form-control" value="{{ formatting['end']['value'] }}" id="end" name="end" placeholder="End date">
                    </div>
                    <div class="col-md-4">
                        <label for="email">Day start offset:</label>
                        <input type="number" class="form-control" value="{{ formatting['offset']['value'] }}" id="offset" name="offset" placeholder="default 12">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>

        </form>

        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
                {#{% include 'page.html' %}#}
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>
